#datagrid {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: repeat(8, 14vw);
  grid-gap: 5px;
  overflow: auto;
}

@media only screen and (max-width: 468px) {
  #datagrid {
    display: block;
  }
}