
figure {
  display: flex;
  position: relative;
  margin: 0;
}

figure figcaption {
  background-color: rgba(0, 0, 0, .4);
  color: #ffffff;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-indent: 0.5em;
  padding: 0.25rem 0 0.25rem 0;
  font-size: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

figure img {
  width: 100%;
  height: 100%;
  min-height: 100px;
  object-fit: cover;
  display: block;
}

figure img:hover {
  filter: brightness(1.25);
  border: inset 1px solid #000000;
  cursor: pointer;
}

figure:nth-child(2) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

figure:nth-child(3) {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 6;
}

figure:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}

figure:nth-child(5) {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 8;
}